<div class="pl-4 pt-4 pb-1 w-full h-[64px] flex items-center flex-row border-b-[1px] border-gray-400">
  <div class="w-8 h-8 relative bg-sky-600 rounded-full">
    <span class="absolute top-1 left-3 font-bold text-amber-50 ">c</span>
  </div>
  <span class="ml-[12px] text-sky-600 font-bold">Canvas</span>
</div>
<div class="h-full py-8 ">
  <h2 class="font-bold text-sky-600 mb-4 px-4">Drawed elements</h2>
  <div class="h-full overflow-y-scroll px-4">
    <app-drawed-list class=" "></app-drawed-list>
  </div>
</div>
